.loading {
  height:4px;
  background:
   linear-gradient(var(--primary) 0 0),
   linear-gradient(var(--primary) 0 0),
   #d7b8fc;
 background-size: 60% 100%;
 background-repeat: no-repeat;
 animation: p6 3s infinite;
 width: 100%;
}
.rescurepass-container .loading, 
.register-container .loading, 
.product-buy .loading, 
.payments-container .loading, 
.login-container .loading {
  width: 150px;
  margin: 0 auto;
}

@keyframes p6 {
 0%   {background-position:-150% 0,-150% 0}
 66%  {background-position: 250% 0,-150% 0}
 100% {background-position: 250% 0, 250% 0}
}