.product {
    padding: .5rem;
}
@media screen and (max-width: 576px) {
    .product {
        max-width: 270px;
        margin: auto;
    }
}
.product .product-container {
    padding: .7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: var(--transition);
    box-shadow: var(--shadow);
    height: 100%;
}
.product .product-container:hover {
    transform: scale(1.05);
}
.product .product-image {
    width: 90%;
    margin: auto;
}
.product .product-image img {
  border: 2px solid var(--text);
  border-radius: 10px;
}
.product-info {
    width: 90%;
    margin: auto;
    margin-top: 1rem;
    height: 100%;
}
.product-buy .select-quatity {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    gap: .5rem;
}
.product-buy .select-quatity input {
    border-radius: 0;
    text-align: center;
}
.product-buy .select-quatity button.btn {
    margin-top: 0;
}
.product-buy .select-quatity button.btn.reduce {
    border-radius: 8px 0 0 8px;
}
.product-buy .select-quatity button.btn.increase {
    border-radius: 0 8px 8px 0;
}
.product-buy .select-quatity input::-webkit-outer-spin-button,
.product-buy .select-quatity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.product-buy .select-quatity input[type=number] {
    -moz-appearance:textfield;
}