:root {
  --primary: #712fc3;
  --background: #1b1d1e;
  --background-ts: #1b1d1e9f;
  --background-two: #000000;
  --background-two-ts: #0000009f;
  --text: #f3f3f3;
  --text-hover: #7832CF;
  --title: #fffff3;
  --transition: all 0.3s ease-in-out;
  --shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
html {
  height: 100vh;
}
img, svg {
  max-width: 100%;
  height: auto;
}
* {
  font-family: var(--font);
}
.fancy-border-radius {
  border-radius: 56% 44% 69% 31% / 50% 50% 50% 50%  !important;
}
.fancy-border-radius:hover {
  border-radius: 31% 69% 34% 66% / 50% 50% 50% 50% !important;
}
.glass-efect {
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  border-radius: 10px;
}
.upper-case {
  text-transform: uppercase;
}

label {
  display: block;
}
label+label {
  margin-top: 0.5rem;
}
input, textarea {
  display: block;
  border-radius: 0 8px 8px 8px;
  border: none;
  padding: .4rem .6rem;
  color: var(--text);
  background: var(--background-two-ts);
  transition: var(--transition);
  width: 100%;
  border: var(--title) 1px solid;
  box-sizing: border-box !important;

}
button.btn:hover {
  background: var(--primary);
  color: var(--text);
}
input:hover, textarea:hover {
  border-color: var(--primary);
}
input:focus, button.btn:focus, textarea:focus {
  outline: none;
  background: var(--background-two);
  color: var(--primary);
  box-shadow: none;
}
button.btn {
  display: block;
  border-radius: 8px;
  border: none;
  padding: .4rem .6rem;
  color: var(--text);
  background: var(--background-two-ts);
  transition: var(--transition);
  width: 100%;
  margin-top: .8rem;
  border: var(--title) 1px solid;
}

.wrapper {
  height: 100%;
  width: 100%;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  -webkit-animation: rainbow 5s ease infinite;
  -z-animation: rainbow 5s ease infinite;
  -o-animation: rainbow 5s ease infinite;
  animation: rainbow 5s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@-webkit-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}

@-moz-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}

@-o-keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}

@keyframes rainbow {
  0% {background-position: 0% 82%}
  50% {background-position: 100% 19%}
  100% {background-position: 0% 82%}
}